<div class="center">
  <h1>Modification</h1>
  <form name="form">


    <div class="txt_field">
      <input type="text"  name="nom" >
      <span></span>
      <label>Nom</label>
    </div>

    <div class="txt_field">
      <input type="text"  name="adresse">
      <span></span>
      <label>Telephone</label>

    </div>

    <div class="txt_field">
      <input type="text"  name="commune" >
      <span></span>
      <label>Mot de passe</label>

    </div>





    <input type="submit" value="Modifier">
    <div class="signup_link">

    </div>
  </form>
</div>
