<!-- <div class="center">
  <h1>Ajouter un patient</h1>
  <form name="form" method="post">
    <div class="txt_field">
      <input type="text"  name="nom" [(ngModel)]="patient.nom" >
      <span></span>
      <label>Nom</label>
    </div>

    <div class="txt_field">
      <input type="text"  name="telephone" [(ngModel)]="patient.telephone">
      <span></span>
      <label>Télephone</label>
    </div>

    <div class="txt_field">
      <input type="password"  name="password" [(ngModel)]="patient.password">
      <span></span>
      <label>Password</label>
    </div>


    <input type="submit" value="Ajouter" (click)="ajouterPatient()">
    <div class="signup_link">
      Tu as déjà un compte <a href="">Se connecter</a>
    </div>
  </form>
</div> -->
bonjour
