table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border:1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  color: black;


}

td {
  border:1px solid black ;
  padding: 8px;
  text-align: center;
  font-size: 17px;
  color: #000000;

}
