*{
  margin: 0;
  padding: 0;
}
/* Navbar2 */
.nav2{
background-color: transparent;
border: 1px solid rgb(249, 243, 243);
height: 90px;
}

.nav2 .container-fluid{
  margin-top: 20px;
}

/* Baniere */


table {
  border-collapse: collapse;
  width: 100%;

}

th {
  border:1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  color: black;


}

td {
  border:1px solid black ;
  padding: 8px;
  text-align: center;
  font-size: 17px;
  color: #000000;

}


/* cadre */
.images {
  width: 100%;
}

.images img {
  float: left;
  margin-right: 20px;
  width: 50%;
}

.equipement{
  background-color: azure;

}

.equipement .titre h2{
 margin-left: 40%;
 margin-top: 20px;
}

.equipement .contenu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.equipement .contenu .box{
  width: 300px;
  margin: 5px;
}
.equipement .contenu .box img{
  position: relative;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Styles pour le select */
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  background-color: transparent;
}

/* Styles pour les options du select */
option {
  padding: 10px;
}



footer {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
}

footer p{
  margin-left: 50%;
}






/* ------------------------------------------------------------------------------------ */
/* -----------------------------------Media query-------------------------------------- */


@media only screen and (max-width: 600px) {

  .baniere{
      background-image: url("https://www.malakoffhumanis.com/sites/smile/files/styles/editorial_page_top_image_desktop/public/images/2020-282-mh-photo-medecin-traitant-et-parcours-de-soins-coordonnes-as-295664542-1024x577.jpg?itok=3UJ0oKQL");
      background-size: cover;
      height: 100%;
  }


  /* tableau */
  table {
    width: 100%;
  }

  th, td {
    font-size: 12px;
  }

  select {
      width: 50%;
    }
}



@media only screen and (max-width: 400px) {
  .baniere{
      background-image: url("https://www.malakoffhumanis.com/sites/smile/files/styles/editorial_page_top_image_desktop/public/images/2020-282-mh-photo-medecin-traitant-et-parcours-de-soins-coordonnes-as-295664542-1024x577.jpg?itok=3UJ0oKQL");
      background-size: cover;
      height: 100%;
  }

  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    border: 1px solid rgb(8, 239, 212);;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Code"; }
  td:nth-of-type(2):before { content: "Nom"; }
  td:nth-of-type(3):before { content: "Téléphone"; }
  td:nth-of-type(4):before { content: "Adresse"; }
  td:nth-of-type(5):before { content: "GMS"; }
  td:nth-of-type(6):before { content: "Action"; }
  td:nth-of-type(7):before { content: "Ajouter"; }
}
footer {
  background-color: #eee;
  padding: 10px;

}
footer p{
  margin-left: 200px;
}
