<app-public-header></app-public-header>

<section class="home" id="home">

  <div class="image">
      <img src="assets/home-img.svg" alt="">
  </div>

  <div class="content">
      <h3>Bienvenue à la clinique SantéPlus</h3>
      <p>La plateforme qui permet de mettre de valoriser les spécialités de la clinique</p>

  </div>

</section>


<section class="services" id="services">

  <h1 class="heading"> Nos <span>Expertises</span> </h1>

  <div class="box-container">

      <div class="box" style="background-image: url('../../../assets/images/chirurgie2.jpg');background-size:cover;">
          <i class="fas fa-notes-medical"></i>
          <h3 class="text-white">Chirurgie</h3>
          <p></p>
          <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>

      </div>

      <div class="box" style="background-image: url('../../../assets/images/pediatrie.jpeg');background-size:cover;">
          <i class="fas fa-ambulance"></i>
          <h3 class="text-white">Pediatrie</h3>
          <p></p>
          <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box" style="background-image: url('../../../assets/images/consultation.jpg');background-size:cover;">
          <i class="fas fa-user-md"></i>
          <h3 class="text-white">  Consultation </h3>
          <p></p>
          <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box"  style="background-image: url('../../../assets/images/sallematernite.jpg');background-size:cover;">
          <i class="fas fa-pills"></i>
          <h3 class="text-white">Maternite</h3>
          <p></p>
          <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

  </div>

</section>
<section class="expertise">
  <h2 class="text-center py-4 experth2"> <span>Pourquoi</span> Nous Choisir ? </h2>
  <div class="row">
    <div class="col-md-6 p-5 b">
      <h5 class="text-center py-2">ENGAGEMENT - NOUS RESPECTONS NOS PROMESSES</h5>
      <p class="text-center">
        La Clinique SantePlus vous propose un certain nombre de services.
        Certains sont gratuits, d’autres sont concédés à une société extérieure
        et vous sont proposés à titre payant. Un livret d’accueil présentant ces
        services vous sera remis lors de l’entrer à la clinique.
      </p>
    </div>
    <div class="col-md-6 p-5">
      <h5 class="text-center py-2">LES DROITS DEVOIRS DU PATIENT</h5>
      <p class="text-center py-2">
        Les droits fondamentaux de la personne: Aucune personne ne peut faire
        l’objet de discrimination dans l’accès à la prévention et aux soins.
        La personne malade a droit au respect de sa dignité et de sa vie privée.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-3">
      <h5 class="text-center py-2">LA SÉCURITÉ DANS L'ÉTABLISSEMENT</h5>
      <p>
        Des équipes travaillent au respect des normes de sécurité pour votre séjour dans nos établissements de soins:
        • La sécurité incendie
        • La sécurité des personnes
        • Les sécurités sanitaires, les vigilances
        • La lutte contre les infections nosocomiales
        • La lutte contre la douleur
      </p>
    </div>
    <div class="col-md-6 p-3">
      <h5 class="text-center py-2">FRAIS D'HOSPITALISATION SOUPLE</h5>
      <p>
        Ils sont à régler le jour de votre départ, selon votre couverture sociale. Ils comprennent:
        • Les frais de séjour
        • Les frais de visites et d’actes médicaux infirmiers
      </p>
    </div>
  </div>
</section>


<!-- icons section ends -->

<!-- about section starts  -->

<section class="about" id="about">

  <app-public-herder></app-public-herder>
