<div class="center">
  <h1>Ajouter un rendez-vous</h1>
  <form name="form" method="post">
    <div class="txt_field">
      <input type="text"  name="date_heure"  >
      <span></span>
      <label>Nom</label>
    </div>

    <div class="txt_field">
      <input type="text"  name="id_patient">
      <span></span>
      <label>Prenom</label>
    </div>
    <div class="txt_field">
      <input type="text"  name="id_medecin">
      <span></span>
      <label>Spécialité</label>
    </div>


    <input type="submit" value="Ajouter" (click)="ajouterRdv()">
    <div class="signup_link">

    </div>
  </form>
</div>
